      @model IEnumerable < Examen.Models.Curriculum >
      @{
    ViewBag.Title = "Curriculum";
     }
@Helpers.Head("")
@Helpers.Tittle("Experiencia")
@{
    ViewBag.Title = "Index";
}
<h1>@ViewData["Exp"]
</h1>
@Helpers.Tittle("Lenguajes")
<h1>@ViewData["Leng"]</h1>
@Helpers.footer("")